@import 'https://fonts.googleapis.com/css?family=Asap:400,400italic,700,700italic';

vi-player {
  display: block;
  position: relative;

  line-height: 1.5;

  --color: white;
  --accent-color: #e53232;

  background: var(--backdrop, transparent);
  color: var(--color, white);
  fill: currentColor;
}

vi-player[immersed] {
  cursor: none;
}

vi-player.no-ui *:not(video) {
  display: none;
}

vi-player:-webkit-full-screen {
  width: 100%;
  height: 100%;
  min-width: initial;
  min-height: initial;
  max-width: initial;
  max-height: initial;
}

@media (min-width: 1000px) {
  vi-player:-webkit-full-screen {
    font-size: 1.25em;
  }
}

@media (min-width: 1600px) {
  vi-player:-webkit-full-screen {
    font-size: 1.5em;
  }
}

vi-player video {
  display: block;
  width: 100%;
  height: 100%;
}

vi-player video:not(:first-child),
vi-player video[src*=".mp3"] {
  display: none;
}

vi-player ::cue {
  font-family: 'Asap', sans-serif;
  background: none;
  color: white;
  text-shadow:
    0 0 1px black,
    0 1px 1px rgba(0, 0, 0, .4),
    0 2px 1px rgba(0, 0, 0, .2);
}

vi-player video[controls] ~ vi-controls {
  display: none;
}

vi-shadow {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

/**




SHOW FULLSCREEN IN PORTRAIT or something

attributes: show: always, fullscreen, paused




*/


vi-controls {
  position: absolute;
  color: var(--color, currentColor);
  z-index: 1;
  left: 0;
  bottom: 0;
  right: 0;
  min-height: 3em;
  padding: 0 .5em;
  display: flex;
  align-items: center;
  pointer-events: none;
  user-select: none;
  transition:
    transform .15s,
    opacity .15s,
    visibility 0s;
}

vi-player audio ~ vi-controls {
  position: relative;
  overflow: hidden;
}

vi-player[immersed] video ~ vi-controls {
  opacity: 0;
  visibility: hidden;
  transition:
    transform .15s,
    opacity .15s,
    visibility 0s .15s;
}

vi-controls:nth-of-type(n+3) {
  display: none;
}

vi-player video ~ vi-controls:nth-of-type(1)::before {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  right: 0;
  height: 128px;
  background: -webkit-linear-gradient(bottom,
    rgba(0, 0, 0, .8) 0%,
    rgba(0, 0, 0, .4) 25%,
    rgba(0, 0, 0, .2) 50%,
    rgba(0, 0, 0, .1) 75%,
    transparent 100%
  );
}

vi-player video ~ vi-controls:nth-of-type(2)::before {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  height: 128px;
  background: -webkit-linear-gradient(top,
    rgba(0, 0, 0, .8) 0%,
    rgba(0, 0, 0, .4) 25%,
    rgba(0, 0, 0, .2) 50%,
    rgba(0, 0, 0, .1) 75%,
    transparent 100%
  );
}

vi-controls > * {
  margin: 0 .5em;
  pointer-events: all;
}

vi-view {
  display: inline-flex;
  align-items: center;
  align-self: stretch;
  pointer-events: none;
  /*
  font-size: 0.75em;
  font-weight: bold;
  */
}

vi-slider {
  position: relative;
  box-sizing: content-box;
  display: block;
  background: var(--track-background, rgba(255, 255, 255, .2));
  flex: auto;
  height: calc(1em / 8);
  padding: 1.5em 0;
  background-clip: content-box;
  cursor: var(--interaction-cursor, auto);
}

vi-slider vi-slider-handle {
  position: relative;
  display: block;
  height: 100%;
  max-width: 100%;
  background: var(--accent-color, #e53232);
  transition: font-size .1s;
}

vi-slider vi-slider-handle::before,
vi-slider vi-slider-handle::after {
  z-index: 1;
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  border-radius: 50%;
  height: calc(1em / 8);
  width: calc(1em / 8);
  transform: translate(50%, -50%);
}

vi-slider vi-slider-handle::before {
  background: var(--knob-background, rgba(255, 255, 255, .1));
  width: 1em;
  height: 1em;
}

vi-slider vi-slider-handle::after {
  background: currentColor;
  height: calc(1em / 4);
  width: calc(1em / 4);
}

vi-slider:active vi-slider-handle {
  font-size: 1.5em;
}

vi-slider[data-viid="volume-knob"] {
  width: 4em;
  flex-grow: 0;
}

vi-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  align-self: stretch;
  padding: .5em;
  margin: 0;
  cursor: var(--interaction-cursor, auto);
}

vi-button.big {
  font-size: 1.5em;
}

vi-button[disabled] {
  fill: rgba(255, 255, 255, .4);
  /*
    pointer-events: none;

    This would seem like the logical option, but it would
    result in the video element being clicked.
  */
}

vi-button::after {
  content: '';
  position: absolute;
  left: -.5em;
  right: -.5em;
  top: 0;
  bottom: 0;
  z-index: -1;
}